@import "./assets/colors.scss";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: $custom-color-dark;
  /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: $custom-color-secondary;
  /* color of the scroll thumb */
  border-radius: 2rem;
  /* roundness of the scroll thumb */
}

html,
body {
  height: -webkit-fill-avaiable;
}

::selection {
  color: $custom-color-dark;
  background: $custom-color-secondary;
}

html,
body {
  background-color: $custom-color-primary;
  height: 100%;
}

html,
body,
#__next,
#outer-container {
  height: 100%;
  width: 100%;
}

@import "./components/layout/burgerMenu.scss";
@import "./components/layout/principalLayout.scss";
@import "./components/layout/principalCard.scss";
@import "./components/layout/background.scss";

@import "./components/cards/aboutCard.scss";
@import "./components/cards/contactCard.scss";

@import "./components/cards/projects/projectCard.scss";
@import "./components/cards/skills/skillCard.scss";
@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
