@import "./assets/colors.scss";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  height: -webkit-fill-avaiable;
}

::selection {
  color: $custom-color-dark;
  background: $custom-color-secondary;
}

body {
  background-image: url(../../public/images/background/blur_background.svg);
}

.pointer {
  cursor: pointer;
}

#__next, #outer-container {
  height: 100vh;
  width: 100%;
}

@import "./components/layout/burgerMenu.scss";
@import "./components/layout/principalLayout.scss";
@import "./components/layout/principalCard.scss";

@import "./components/cards/aboutCard.scss";
@import "./components/cards/contactCard.scss";

@import "./components/cards/projects/projectCard.scss";
@import "./components/cards/skills/skillCard.scss";
