@import '../../assets/colors.scss';
@import '../../assets/typography.scss';

.principal-layout {
  background-color: $custom-color-primary;
  height: 100vh;
  overflow: hidden;
}

.title {
  font-size: 2rem;
  font-family: $custom-font-title;
}

.title-hero {
  position: fixed;
  left: 50%;
  top: 4rem;
  transform: translate(-50%, -50%)
}

.perfil-photo-container {
  height: 300px;
  width: 400px;
}

.wave{
  height: 75vh;
  width: 120vw;
}

.slide {
  z-index: 2;
  filter: drop-shadow(0 4px 2px rgba(0, 0, 0, .25));
}