@import "../../assets/colors.scss";
@import "../../assets/typography.scss";

.principal-layout {
  height: calc(100% - 5rem);
  overflow: hidden;
}

.main-content {
  height: 100%;
}

.selector {
  width: 16rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

.pointer {
  cursor: pointer;
}

.title {
  z-index: 1;
  position: relative;
  margin-bottom: 0 !important;
  font-size: 2rem;
  font-family: $custom-font-title;
}

.slide {
  z-index: 2;
  filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.25));
}