* {
  margin: 0px;
  padding: 0px;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  padding: 2px;
  background: white;
  border-radius: 10px;
}

.container-6-falcon-texto {
  text-align: center;
  align-self: center;
}
.container-6-falcon-texto a {
  text-decoration: none;
  color: #d8d8d8;
}
.container-6-falcon-texto a:hover {
  color: #b9b9b9;
}

.footer {
  background-color: black;
  height: 110px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: #b9b9b9;
}

.copy {
  color: #555252;
}

.nav-item {
  font-size: 13px;
}

.img-logoOBC {
  width: 250px;
}

.btn-hover {
  padding: 15px 40px;
  border-width: 2px;
}

.seta-gif {
  width: 100px;
}

@media (max-width: 400px) {
  .img-logoOBC {
    width: 200px;
  }
  .footer {
    font-size: 11px;
  }
}
@media (max-width: 350px) {
  .img-logoOBC {
    width: 150px;
  }
  .nav-item {
    font-size: 10px;
  }
}
@media (max-width: 320px) {
  .footer {
    font-size: 9px;
  }
}
@media (max-width: 300px) {
  .img-logoOBC {
    width: 125px;
  }
}
.container-1-home {
  background-image: url(/imagens/home/01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.container-home-texto {
  padding-top: 12rem;
}

.container-1-home-texto {
  margin-top: 12rem;
}

.container-2-home {
  background-image: url(/imagens/home/03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.container-3-home {
  background-image: url(/imagens/home/02.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.container-4-home {
  background-image: url(/imagens/home/04.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

@media (max-width: 750px) {
  .container-1-home-texto {
    margin-top: 7.5rem;
  }
}
.container-1-falcon {
  background-image: url(/imagens/falcon9/01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.title-falcon9 {
  font-size: 90px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.container-1-falcon-texto {
  margin-top: 12rem;
}

.contagem {
  width: 100%;
  height: 280px;
}

.contagem-number {
  width: 100%;
}

.container-2-falcon {
  background-image: url(/imagens/falcon9/02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.container-2-falcon-texto {
  align-self: center;
  font-size: 22px;
  width: 500px;
  line-height: 60px;
}

.container-3-falcon-texto {
  padding-left: 12vw;
}

.table-1 {
  width: 500px;
}

td {
  color: #d8d8d8;
}

.carousel-1 {
  background-image: url(/imagens/falcon9/03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.carousel-2 {
  background-image: url(/imagens/falcon9/04.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.carousel-3 {
  background-image: url(/imagens/falcon9/05.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.carousel-4 {
  background-image: url(/imagens/falcon9/06.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.carousel-5 {
  background-image: url(/imagens/falcon9/07.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.container-4-falcon {
  background-image: url(/imagens/falcon9/08.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.carousel-final-1 {
  background-image: url(/imagens/falcon9/09.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.carousel-final-2 {
  background-image: url(/imagens/falcon9/10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.carousel-final-3 {
  background-image: url(/imagens/falcon9/11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.carousel-final-4 {
  background-image: url(/imagens/falcon9/12.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.carousel-final-5 {
  background-image: url(/imagens/falcon9/13.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.carousel-final-6 {
  background-image: url(/imagens/falcon9/14.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.container-5-falcon-texto {
  background-color: black;
  width: 900px;
  text-align: center;
}

.container-6-falcon {
  height: 90vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.btn-hover-1 {
  margin-top: 20px;
}

.btn-hover-2 {
  margin-left: 20px;
  margin-top: 20px;
}

@media (max-width: 1000px) {
  .container-5-falcon-texto {
    width: 80vw;
  }
}
@media (max-width: 680px) {
  .container-3-falcon-texto {
    padding-right: 12vw;
  }
  .table-1 {
    width: 70vw;
  }
}
@media (max-width: 565px) {
  .title-falcon9 {
    font-size: 70px;
  }
  .container-2-falcon-texto {
    font-size: 18px;
    line-height: 60px;
    width: auto;
  }
}
@media (max-width: 564px) {
  .btn-hover-2 {
    margin-left: 0px;
  }
}
@media (max-width: 465px) {
  .title-falcon9 {
    font-size: 50px;
  }
  .container-2-falcon-texto {
    font-size: 14px;
    line-height: 50px;
  }
}
@media (max-width: 442px) {
  .contagem {
    height: 390px;
  }
}
@media (max-width: 365px) {
  .title-falcon9 {
    font-size: 32px;
  }
}
.container-1-human {
  background-image: url(/imagens/humanFlight/01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.container-1-human-texto {
  padding-top: 10rem;
}

.title-human {
  font-size: 80px;
  font-family: "Rubik", sans-serif;
}

.container-2-human {
  height: 200px;
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: center;
}

.container-2-human-texto {
  color: #d8d8d8;
  text-align: center;
  font-size: 20px;
  line-height: 35px;
  width: 800px;
}
.container-2-human-texto a {
  color: white;
  text-decoration: none;
}

.container-3-human {
  background-image: url(/imagens/humanFlight/02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.container-3-human-texto {
  margin-left: 50vw;
  padding-top: 30vh;
}

.container-4-human {
  background-image: url(/imagens/humanFlight/03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.container-4-human-texto {
  margin-left: 5vw;
  padding-top: 30vh;
}

.container-5-human {
  background-image: url(/imagens/humanFlight/04.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.container-5-human-texto {
  margin-left: 50vw;
  padding-top: 30vh;
}

.container-6-human {
  background-image: url(/imagens/humanFlight/05.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.container-6-human-texto {
  margin-left: 5vw;
  padding-top: 30vh;
}

@media (max-width: 768px) {
  .container-1-human-texto {
    padding-top: 10rem;
  }
  .title-human {
    font-size: 60px;
    font-family: "Rubik", sans-serif;
  }
}
@media (max-width: 475px) {
  .title-human {
    font-size: 40px;
    font-family: "Rubik", sans-serif;
  }
}
@media (max-width: 410px) {
  .container-2-human {
    height: 280px;
  }
}
@media (max-width: 340px) {
  .title-human {
    font-size: 33px;
    font-family: "Rubik", sans-serif;
  }
}

/*# sourceMappingURL=style.css.map */
