.container-1-falcon {
    @include background(url(../imagens/falcon9/01.jpg))
}

.title-falcon9 {
    font-size: 90px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

.container-1-falcon-texto {
    margin-top: 12rem;
}

.contagem {
    width: 100%;
    height: 280px;
}

.contagem-number {
    width: 100%;
}


.container-2-falcon {
    @include background(url(../imagens/falcon9/02.jpg))
}

.container-2-falcon-texto {
    align-self: center;
    font-size: 22px;
    width: 500px;
    line-height: 60px;
}

.container-3-falcon-texto {
    padding-left: 12vw;
}

.table-1 {
    width: 500px;
}

td{
    color: $table-items-color;
}

.carousel-1 {
    @include background(url(../imagens/falcon9/03.jpg))
}

.carousel-2 {
    @include background(url(../imagens/falcon9/04.jpg))
}

.carousel-3 {
    @include background(url(../imagens/falcon9/05.jpg))
}

.carousel-4 {
    @include background(url(../imagens/falcon9/06.jpg))
}

.carousel-5 {
    @include background(url(../imagens/falcon9/07.jpg))
}

.container-4-falcon {
    @include background(url(../imagens/falcon9/08.jpg))
}

.carousel-final-1 {
    @include background(url(../imagens/falcon9/09.jpg))
}

.carousel-final-2 {
    @include background(url(../imagens/falcon9/10.jpg))
}

.carousel-final-3 {
    @include background(url(../imagens/falcon9/11.jpg))
}

.carousel-final-4 {
    @include background(url(../imagens/falcon9/12.jpg))
}

.carousel-final-5 {
    @include background(url(../imagens/falcon9/13.jpg))
}

.carousel-final-6 {
    @include background(url(../imagens/falcon9/14.jpg))
}

.container-5-falcon-texto {
    background-color: black;
    width: 900px;
    text-align: center;
}

.container-6-falcon {
    height: 90vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.btn-hover-1 {
    margin-top: 20px;
}

.btn-hover-2 {
    margin-left: 20px;
    margin-top: 20px;
}

// Media Query

@media (max-width: 1000px) {
    .container-5-falcon-texto {
        width: 80vw;
    }
}

@media (max-width: 680px) {
    .container-3-falcon-texto {
        padding-right: 12vw;
    }

    .table-1 {
        width: 70vw;
    }
}


@media (max-width: 565px) {
    .title-falcon9 {
        font-size: 70px;
    }

    .container-2-falcon-texto {
        font-size: 18px;
        line-height: 60px;
        width: auto;
    }
}

@media (max-width: 564px) {
    .btn-hover-2 {
        margin-left: 0px;
    }
}

@media (max-width: 465px) {
    .title-falcon9 {
        font-size: 50px;
    }

    .container-2-falcon-texto {
        font-size: 14px;
        line-height: 50px;
    }
}

@media (max-width: 442px) {
    .contagem {
        height: 390px;
    }
}

@media (max-width: 365px) {
    .title-falcon9 {
        font-size: 32px;
    }
}