.container-1-home {
    @include background(url(../imagens/home/01.jpg))
}

.container-home-texto {
    padding-top: 12rem;
}

.container-1-home-texto {
    margin-top: 12rem;
}

.container-2-home {
    @include background(url(../imagens/home/03.jpg))
}

.container-3-home {
    @include background(url(../imagens/home/02.gif))
}

.container-4-home {
    @include background(url(../imagens/home/04.jpg))
}

// Media Query

@media (max-width: 750px) {
    .container-1-home-texto {
        margin-top: 7.5rem;
    }

}
