@import '../../../assets/colors.scss';
@import '../../../assets/typography.scss';

.project-container {
  max-width: 280px;
  filter: drop-shadow(0 8px 4px rgba(0, 0, 0, 0.55));
}

.project-image {
  border-radius: 2rem;
  object-fit: cover;
}

.project-card {
  max-width: 280px;
  padding-top: 0.5rem;
  font-family: $custom-font-body;
  color: $custom-color-dark;
  background-color: $custom-color-white;
  border-radius: 2rem;
  font-size: 1.15rem;

  p {
    margin-top: 1rem;
  }

}

.project-button {
  border-radius: 1rem;
  background-color: $custom-color-dark;
  border: none;

  a {
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 600;
    color: $custom-color-white;
  }
}

.project-button:hover {
  background-color: $custom-color-dark !important;

  a {
    color: $custom-color-secondary;
    transition: .3s;
  }
}
